@import "styles/globals";

.wrapperHeader{
  padding: 20px 0;
  background-color: $BLACK;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo{
    img{
      height: 30px;
      width: auto;
    }
  }

  nav{
    a{
      color: $WHITE;
      text-decoration: none;
      margin-right: 15px;

      &:last-child{
        margin-right: 0;
      }

    }
  }

  .search{
    input{
      height: 20px;
      border: none;
      border-bottom: 1px solid white;
      background: url("../../public/search.svg") 95% 50% no-repeat;
    }
  }

}