.wrapperBanner{
  height: 500px;
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  position: relative;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:after{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: $BLACK_OPACITY;
    position: absolute;
    bottom: 0;
  }
}