@import "styles/globals";

.wrapper{
  background-color: $BLACK;
  padding: 40px 0;
}

.wrapperListMovie{
  width: 100%;

  display: flex;
  flex-wrap: wrap;

    .listMovie{
      height: 300px;
      width: 16%;
      margin-bottom: 10px;
      text-decoration: none;

      img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
      }

      p{
        text-align: center;
        color: $WHITE;
        margin-top: 10px;
      }
  }
}