@import "styles/globals";

.wrapperList{
  padding: 60px 0 20px;
}

.headerList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  color: $WHITE;

  h4{
      font-size: 48px;
  }

  a{
    color: $WHITE;
    text-decoration: none;
  }
}

.wrapperListMovie{
  display: flex;

    .listMovie{
      height: 300px;
      width: 16%;
      margin-right: 10px;
      text-decoration: none;
      border-radius: 5px 5px 0 0;

      img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
      }

      p{
        text-align: center;
        color: $WHITE;
        margin-top: 10px;
      }

      &:hover{
        background-color: $WHITE;

        p{
          color: $BLACK;
        }
      }


    }

    &:last-child{
      margin-right: 0;
    }

}